@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
}

.btn-green {
  @apply bg-green-400 text-white p-3 rounded-md;
}

.center {
  @apply justify-center place-items-center;
}

.flex-center {
  @apply flex justify-center place-items-center;
}

.flex-col-center {
  @apply flex flex-col justify-center place-items-center;
}

.default-transition {
  @apply transition duration-500 ease-in-out;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

.landing {
  opacity: 0;
  animation: landing 4s 1.5s ease-in-out forwards;
}

@keyframes landing {
  20% {
    opacity: 1;
  }
  51% {
    transform: translateY(0);
  }
  89% {
    transform: translateY(-50rem);
    opacity: 1;
  }
  90% {
    transform: translateY(-50rem);
    height: 88vh;
  }
  100% {
    transform: translateY(-50rem);
    height: 0;
  }
}

.main {
  opacity: 0;
  animation: main 0.3s 5.5s ease-in forwards;
}

@keyframes main {
  100% {
    opacity: 1;
  }
}
