@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* default styles */
* {
  font-family: "Lato", sans-serif;
}

.btn-green {
  @apply bg-green-400 text-white p-3 rounded-md;
}

.center {
  @apply justify-center place-items-center;
}

.flex-center {
  @apply flex justify-center place-items-center;
}

.flex-col-center {
  @apply flex flex-col justify-center place-items-center;
}

.default-transition {
  @apply transition duration-500 ease-in-out;
}

/* page title style */
h1 {
  font-family: "Permanent Marker", cursive;
}

/* landing page animation */
.landing {
  opacity: 0;
  animation: landing 4s 1.5s ease-in-out forwards;
}

@keyframes landing {
  20% {
    opacity: 1;
  }
  51% {
    transform: translateY(0);
  }
  89% {
    transform: translateY(-50rem);
    opacity: 1;
  }
  90% {
    transform: translateY(-50rem);
    height: 88vh;
  }
  100% {
    transform: translateY(-50rem);
    height: 0;
  }
}
/* end landing page animation */

/* main page opening animation */
.main {
  opacity: 0;
  animation: main 0.3s 5.5s ease-in forwards;
}

@keyframes main {
  100% {
    opacity: 1;
  }
}
/* end of main page opening animation */

/* play or pause animation */
.control {
  border: 0.1rem solid #ddd;
  border-radius: 50%;
  margin: 0.1rem;
  padding: 0.1rem;
  width: 2.3rem;
  height: 2.3rem;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}

.control,
.control .left,
.control .right,
.control:before {
  display: inline-block;
  vertical-align: middle;
  transition: background 0.4s, border 0.4s, width 0.4s, height 0.4s, margin 0.4s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.control:before {
  content: "";
  height: 2rem;
}

.control.pause {
  background-color: #ddd;
}

.control.pause .left,
.control.pause .right {
  margin: 0;
  border-left: 0.2rem solid #222;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  height: 1.2rem;
}

.control.pause .left {
  border-right: 0.4rem solid transparent;
}

.control.play .left {
  margin-left: 0.4rem;
  border-left: 0.5rem solid #ddd;
  border-top: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  border-right: 0rem solid transparent;
  height: 1rem;
}

.control.play .right {
  margin: 0;
  border-left: 0.5rem solid #ddd;
  border-top: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  height: 0rem;
}

.control:hover {
  border-color: #999;
}

.control:hover .left,
.control:hover .right {
  border-left-color: #999;
}
/*end of play or pause animation */
